lombok.anyConstructor.addConstructorProperties=true
#    A single line replaces this boilerplate
#
#    @ConstructorProperties({"frameId", "clientId", "nick", "type", "payload"})
#    IncomingMessage(int frameId, String clientId, String nick, String type, String payload) {
#        this.frameId = frameId;
#        this.clientId = clientId;
#        this.nick = nick;
#        this.type = type;
#        this.payload = payload;
#    }
